<div class="summary-table">
<table class="table table-bordered">
    <tr>
        <th>Appliance</th>
        <th>Power Used</th>
        <th>Daily</th>
        <th>Monthly</th>
        <th>Quarterly</th>
        <th>Yearly</th>
    </tr>
    <tr *ngFor="let appliance of appliances" >
        <td>{{appliance.name}}</td>
        <td>{{appliance.power.value}}</td>
        <td>{{appliance.cost | costCalculator:1}}</td>
        <td>{{appliance.cost | costCalculator:30}}</td>
        <td>{{appliance.cost | costCalculator:91}}</td>
        <td>{{appliance.cost | costCalculator:365}}</td>
    </tr>
    <tr>
          <td></td>
          <td></td>
          <td>{{dailyCostTotal | costCalculator:1}}</td>
          <td>{{monthlyCostTotal | costCalculator:30}}</td>
          <td>{{quarterlyCostTotal | costCalculator:91}}</td>
          <td>{{yearlyCostTotal | costCalculator:365}}</td>
    </tr>
</table>
