<div>
    <label>Appliance</label>
    <dropdown [choices]="applianceList" [(inputModel)]="appliance.name"></dropdown>

    <label>Power</label>
    <numeric-input [(inputModel)]="appliance.power.value"></numeric-input>

    <label>Units</label>
    <dropdown [choices]="unitList" [(inputModel)]="appliance.power.units" [default]="false"></dropdown>

    <label>Hours</label>
    <numeric-dropdown [(inputModel)]="appliance.duration.hours" [min]="0" [max]="24"></numeric-dropdown>

    <label>Minutes</label>
    <numeric-dropdown [(inputModel)]="appliance.duration.minutes" [min]="0" [max]="59"></numeric-dropdown>

    <label>Cost</label>
    <cost [appliance]="appliance"
          [powerValue]="appliance?.power?.value"
          [units]="appliance?.power?.units"
          [hours]="appliance?.duration?.hours"
          [minutes]="appliance?.duration?.minutes"
          [rates]="rates">
    </cost>
</div>

<!--{{diagnostic}}-->
