<div class="form-inline item-box">
    <div class="form-group">
        <div class="input-label">Appliance</div>
        <dropdown [choices]="applianceList" [(inputModel)]="appliance.name"></dropdown>
    </div>

    <div class="form-group">
        <div class="input-label">Power</div>
        <numeric-input [(inputModel)]="appliance.power.value"></numeric-input>
    </div>

    <div class="form-group">
        <div class="input-label">Units</div>
      <dropdown [choices]="unitList" [(inputModel)]="appliance.power.units" [default]="false"></dropdown>
    </div>

    <div class="form-group">
        <div class="input-label">Hours</div>
        <numeric-dropdown [(inputModel)]="appliance.duration.hours" [min]="0" [max]="24"></numeric-dropdown>
    </div>

    <div class="form-group">
        <div class="input-label">Minutes</div>
        <numeric-dropdown [(inputModel)]="appliance.duration.minutes" [min]="0" [max]="59"></numeric-dropdown>
    </div>

    <div class="form-group">
        <div class="input-label">Cost</div>
        <cost [appliance]="appliance"
              [powerValue]="appliance?.power?.value"
              [units]="appliance?.power?.units"
              [hours]="appliance?.duration?.hours"
              [minutes]="appliance?.duration?.minutes"
              [rates]="rates"
              (trigger)="onTrigger()">
        </cost>
    </div>
</div>

<!--{{diagnostic}}-->
